@import 'src/Components/Common/Styles/Sass/Variants';
@import 'src/Components/Common/Styles/Sass/Mixins';

.container{
	@include flex(flex,space-evenly,wrap);
	align-items: center;
	position: relative;
	background-color: $primary-color;
	@media (max-width: 1124px) {

	}
	.svgTop {
	position: absolute;
	bottom: 99%;
	left: 0;
	width: 100%;
	z-index: 3;
	fill: #0C0C0C;
}
	.particles{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		
}
	.img {
		width: 15%;
		height: auto;
		z-index: 3;
		@media (max-width: 1129px) {
			padding-top: 10px;
				width: 45%;
		}
	}
	.textContainer {
		width: 30%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 5%;
		@media (max-width: 1124px) {
				width: 70%;
				margin-top: 5%;
		}
		h5{
			margin-bottom: 10px;
		}
	}
	.svgFooter {
		position: absolute;
		top: 97%;
		left: 0;
		width: 100%;
		z-index: 3;
		fill: #0C0C0C;
		overflow: hidden;
		@media (max-width: 600px) {
				display: none
		}
	}

}








