.container {
	text-align: center;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: none;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	.imgIcon {
		width: 70%;

	}

}
