.container{
	padding: 3%;
}

.view {
	float: left;
	border: 3px solid #fff;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 8px 10px 10px #e6e6e6;;
	cursor: default;
	background: #fff url(https://image.flaticon.com/icons/png/512/1828/1828710.png) no-repeat center center
}

.view .mask,
.view .content {
	width: 300px;
	height: 200px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0
}

.view img {
	display: block;
	position: relative
}

.view h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	font-family: sans-serif;
	padding: 10px;
	/*background: rgba(0, 0, 0, 0.8);*/
	margin: 20px 0 0 0
}

.view p {
	font-family: sans-serif;
	font-style: italic;
	font-size: 16px;
	position: relative;
	color: #fff;
	padding: 0px 20px 10px;
	text-align: center
}

.view a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: #000;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	box-shadow:  0 0 1px #000
}

.view a.info:hover {
	box-shadow: 3px 4px 48px 4px #fff;
}


/*1*/

.viewFirst img {
	/*1*/
	transition: all 0.1s linear;
	width: 300px;
	height: 200px;
}

.viewFirst .mask {
	opacity: 0;
	background: rgba(85, 78, 78, 0.62);
	color: #eee;
	transition: all 0.1s ease-in-out;
}

.viewFirst h2 {
	transform: translateY(-100px);
	opacity: 0;
	font-family: Raleway, serif;
	transition: all 0.2s ease-in-out;
}

.viewFirst p {
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.2s linear;
}

.viewFirst a.info {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.viewFirst:hover img {
	transform: scale(1.1);
}

.viewFirst:hover .mask {
	opacity: 1;
}

.viewFirst:hover h2,
.viewFirst:hover p,
.viewFirst:hover a.info {
	opacity: 1;
	transform: translateY(0px);
}

.viewFirst:hover p {
	transition-delay: 0.1s;
}

.viewFirst:hover a.info {
	transition-delay: 0.2s;
}