@import 'src/Components/Common/Styles/Sass/Variants';

.container {
	width: 100%;
	height: 80%;
	background:$primary-color;
	padding-top: 200px;
	padding-bottom: 50px;
	@media (max-width: 1024px) {
		padding-top: 100px;
     }
	.skill {
		display: flex;
		justify-content: center;
		width: 93%;
		flex-wrap: wrap;
		padding-top: 65px;
		margin: 0 auto;
		@media (max-width: 1024px) {
			padding-top: 100px;
		}
		@media (max-width: 824px) {
			padding-top: 20px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 0px 0px;
			grid-template-areas:
    ". ."
    ". .";
			margin: 0 auto;
		}
	}

	.svgFooter{
		position: absolute;
		left: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
	}
}



