.container{
	width: 30%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 5%;
}
@media (max-width: 1124px) {
	.container {
		width: 70%;
		margin-top: 5%;
	}
}

.push {
	list-style: none;
	font-family: sans-serif;
}
.push li {
	position: relative;
	padding: 20px 0 20px 40px;
	color: #fff;
	font-variant: small-caps;
	font-weight: bold;
	cursor: pointer;
}
.push li:before {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #4F5151;
	content: "";
	left: 0;
	transition: .3s ease-in-out;
	top: 27px;
}
.push li:after {
	position: absolute;
	border-left: 1px dotted #4F5151;
	width: 1px;
	bottom: -12px;
	content: "";
	left: 3px;
	top: 48px;
}
.push li:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.push li:last-child:after {content: none;}