@import 'src/Components/Common/Styles/Sass/Variants';

.container{
	background: url(backgroundIMG.jpg) no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 65%;
	min-height: 900px;
	.myTitle{
		color: $textColor;
		margin: 0;
		font-size: 40px;
		font-weight: 800;
		@media screen and (max-width: 767px) {
			font-size: 25px;
		}
	}

}

