.meTitle{
	color: #fff;
	margin: 0;
	font-weight: 600;
	font-size: 55px;
}
.container{
	background-image: url(/src/img/backgroundIMG.jpg);
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	padding: 600px 0;
}
