@import 'src/Components/Common/Styles/Sass/Variants';

.burgerNav{
	position: fixed;
	top: 5%;
	right: 20%;
	z-index: 10;
	.burgerNavItems {
		position: absolute;
		height: 0;
		top: 50px;
		right: -75px;
		display: none;
		a {
			cursor: pointer;
			color: $textColor;
			font-size: 16px;
			text-transform: uppercase;
			padding-top: 10px;
			&:hover{
				text-decoration: none;
				color: red;
			}
		}
	}
	.active{
		color: red;
	}
	.show{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		.btnContent{
			transition: background 0.3s ease, color 0.2s linear;
			margin-top: 10px;
			width: 125%;
			height: auto;
			background: #111;
		}
	}
	.burgerBtn {
		background-color: #232121;
		color: $textColor;
		border: 2px solid #c5b3b3;
		border-radius: 8px;
		text-decoration: none;
		display: inline-block;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
		width: 60px;
		height: 40px;
		position: absolute;
		top: 10px;
		:hover {background-color: #776e6e;}
	}
	@media screen and (min-width: 800px) {
		display: none;
	}
}
.hamburger {
	margin: 0 auto;
	margin-top: 30px;
	width: 30px;
	height: 30px;
	position: relative;
}






