@import 'src/Components/Common/Styles/Sass/Variants';

.container{
    background: $primary-color;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}