@import 'src/Components/Common/Styles/Sass/Variants';

.container {
    width: 100%;
    height: 80%;
    background: $bgSecond-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 50px;
    @media (max-width: 1129px) {
        padding-top: 70px;
    }
}
