
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  background: #151515;
  color: #fff;
  z-index: 6;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #fff;
}
input[type=submit] {
  margin-top: 10px;
  background-color: #0C0C0C;
  color: #fff;
  padding: 18px 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  z-index: 6;
}
.container {
  border-radius: 5px;
  background-color: #111;
  padding: 20px;
  width: 50%;
  position: relative;
    right: 5%;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.textarea{
  width: 600px;
}
.textSend{
  color: #fff;
  font-weight: bold;
  padding: 5px;
}



@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: auto;
    right: 0;
  }
}
